#whole{
	width: 100%;
	background-image: url("https://www.transparenttextures.com/patterns/light-aluminum.png");
	background-color: black;
	border-radius: 30px;
}

#main{
	width:800px;
	height:900px;
	position:center;
	margin-right:25%;
	margin-left:25%;
	background-image: url("https://www.transparenttextures.com/patterns/light-aluminum.png");
	background-color: tan;
	/* border: black 1px dotted;
		*/
}

#playerbox{
	background-color: #2b4525;
	background-image: url("https://www.transparenttextures.com/patterns/light-aluminum.png");
	border:grey 3px solid; 
	border-style:inset;
	width:150px;
	height:300px;
	margin:10px 10px 10px 10px ;
	position:fixed;
float:left;
}

#stanceBanner{
	color: purple;
	text-decoration: underline;
	font-weight: bold;
	text-align: center;
}

#stanceButton{
	border-radius: 4px;
	background-color: darkslategray;
	border: none;
	color: white;
	padding: 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: auto;
	cursor: pointer;
}

#centerbox{
	background-image: url("https://www.transparenttextures.com/patterns/light-aluminum.png");
	background-color: grey;
	border:black 3px solid; 
	border-style:inset;
	width:450px;
	height:300px;
	margin:10px 10px 10px 170px ;
	position:fixed;
	float:left;
}

#weaponselection{
	margin:10px 45px 0px 45px;
	float:center;
}

#combatlog{
	width:450px;
	height:300px;
	border: 1px black solid;
	position:fixed;
	overflow:auto;
}

#monstersbox{
background-image: url("https://www.transparenttextures.com/patterns/light-aluminum.png");
color:red;
background-color: maroon;
border:grey 3px solid; 
border-style:outset;
width:150px;
height:300px;
margin:10px 10px 10px 635px ;
position:fixed;
}

.monsterholder {
margin:auto;
padding-left:35px;
}

#lowerbox{
color:red;
background-color: transparent;
border:black 3px dashed; 
border-style:outset;
width: 780px;
height: 200px;
position:fixed;
margin:330px 10px 100px 10px;
}

.incominghit {
	color:red;
}

.hit{ 
	color: orange;
}

criticalHit{
	color: yellow;
	font-weight: bold;
}

.death{
	font-weight:bold;
}